<% unless params.empty? %>
  <%= params[:error] %>
<% end %>

<h3><%= @recipe.recipe_name %></h3>
<form action='/recipes/<%=@recipe.id%>/delete' method='Post'>
  <input type='submit' value='Delete recipe'>
</form>