<% unless params.empty? %>
  <%= params[:error] %>
<% end %>

<h1>Welcome <%=current_user.username%></h1>
<h3>Please enter new recipe</h3>
<form action="/recipes" method="POST">
  <label>Recipe Name: </label><input type="text" name="name"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient1]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient2]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient3]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient4]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient5]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient6]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient7]"><br>
  <label>Add ingredient: </label><input type="text" name="recipe[ingredient8]"><br>
  <input type="submit" value="submit">
</form>

