<h3>All my recipes</h3>

<%@user.recipes.each do |recipe|%>
  <%=recipe.recipe_name%> &nbsp
  <a href='/recipes/<%=recipe.id%>'>View</a>  
  <a href="<%="/recipes/#{recipe.id}/edit"%>">Edit</a>
  <a href="<%="/recipes/#{recipe.id}/delete"%>">Delete</a>
  <br>
<%end%><br>

<a href="/recipes">All recipes</a><br>
<a href="/users/logout">Log Out</a>