<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1>User Signup</h1>
<form method="POST" action="/users/signup">
  <label>Username:</label> <input type="text" name="username">
  <label>Password:</label><input type="text" name="password">
  <input type="submit">
</form>

<a href="/users/login">Log in</a>